<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css remueve las diferenecia que hay entre browsers segun los defaults de css predeterminados que utilizan. 
    Revisa: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css este es el archivo donde van tus estilos, tu css
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="nav_bar">
    <% if current_user %>
      <div id="login_sing">
        <a class="login_sing" href="/logout">Logout</a>|<a  class="login_sing" href="/users/<%= current_user.id%>">Profile</a>
      </div>
        <a href="/">Index</a>
      <div>
      </div>
    <% else %>
      <div id="login_sing">
        <a class="login_sing" href="/login">Login</a>|<a  class="login_sing" href="/signup">Signup</a>
      </div>
      <br>
    <%end%>
  </nav>  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
