<h1>Welcome to Selfie!</h1>
<% if current_user %>
  <div id="form_submit">
    <!--Verificar que sea post, y que tenga el atributo enctype-->
    <form method="post" enctype='multipart/form-data' action="/upload">
      <!--Verificar que name corresponda al nombre/campo del modelo-->
      <input type='file' name='photo[photo]' class="chulada_btn">
      <br id="clear">
      <input type='submit' value='Upload!' class="chulada_btn" id="submit-btn">
    </form>
  </div>
<% else %>
  <p>
    <strong>
      Inicia sesión para subir imágenes
    </strong>
  </p>
<% end %>
<br>
<div id="clear"></div>

<% if @photos %>
  <div class="slider_controls">
    <a href="#" id="previous_frame">&lt;</a>
    <a href="#" id="next_frame">&gt;</a>
  </div>

  <div class="container_slider">
    <ul class="frames">
      <% @photos.each do |photo| %>
        <li> 
          <img src="<%= photo.photo_url(:thumb) %>">
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/slider.js"></script>