
<strong>Bienvenido </strong>
<br>
<form action="/login" method="POST">
  Usuario:<br>
  <input type="text"      name="user[name]"><br>
  Email:<br>
  <input type="text"      name="user[email]"><br>  
  Password:<br>
  <input type="password"  name="user[password]"><br>
  <input  class="chulada_btn" type="submit" value="Logueame!">

<end>
<div id="clear"></div>